.chat-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-message {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sent {
  background-color: #d1e7dd;
  text-align: right;
}

.received {
  background-color: #fff;
  text-align: left;
}

.chat-input {
  width: 97.5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.send-button {
  padding: 10px 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  position: relative;
  left: 45%;
}

.send-button:hover {
  background-color: #0056b3;
}